@model int

@{
    ViewData["Title"] = "Problema encontrado";
}

<div class="jumbotron">
    <h1>Aconteceu o erro @Model!</h1>
    <a class="btn btn-outline-primary" asp-action="Index">Voltar para home</a>
</div>
